* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

img{
	width: 100%;
	height: auto;
	transition-duration: 3s, 5s;
}

body {
		background: url(../img/landscape.jpg) no-repeat;
	/**	background-size: 100vh auto;**/
		display: flex;
		flex-direction: column;
		justify-content: flex-end;
		align-items: center;
		height: 100vh;
}

@media  (max-width: 650px) {
	body {
		background: url(../img/dawn.png) no-repeat;
		background-size: auto 100vh;

}

@media (max-width: 465px) {
	body {
		background: url("../img/maxresdefault.jpg") no-repeat;
		background-size: auto 100vh;

}






